<ion-view title="Login" id="page9">
  <ion-nav-buttons side="left" class="has-header">
    <!--<button class="button button-icon icon ion-android-arrow-back"></button>-->
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
      <form id="login-form3" class="list">
          <ion-list id="login-list5">
              <label class="item item-input" id="login-input6">
                  <span class="input-label">Username</span>
                  <input type="text" id="username" placeholder="">
              </label>
              <label class="item item-input" id="login-input7">
                  <span class="input-label">Password</span>
                  <input type="password" id="password" placeholder="">
              </label>
          </ion-list>
          
          <div class="spacer" style="height: 40px;"></div>
          <button id="login-button4" ng-click="login()" class="button button-stable button-block">Log in</button>
          <!--<a href-inappbrowser="/signup" id="login-button5" class="button button-positive button-block button-clear">Or create an account</a>-->
          <a ui-sref="tabs.signup" id="login-button5" class="button button-positive button-block button-clear">Or create an account</a>
      </form>
  </ion-content>
</ion-view>